################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Snake/v15
/Snake/Content/bin/*
/Snake/Content/obj/*
/Snake/bin/*
/Snake/obj/*